# Node dependencies

Back-End/node_modules/
Front-End/node_modules/

# Environment files
Back-End/.env

# Angular build files

Front-End/dist/


# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db